sdbf:03:124:fdf75127393924a30ce4a480ad524bd09ada956795d5150942bb779ceda6ddc2/usr/share/polkit-1/actions/org.freedesktop.hostname1.policy:12397:sha1:256:5:7ff:160:2:20:EA4o4pBqYlgaDLB3IGOGoY8rNDOBWjloEEACFEVhDQCEwztohSwLRYBEUTmwSVYBgIEGJAGHACMhGBFS6CWAVtSygoFOFEkSChDN0sJWHQ4BKciEnOAYKB3pCEYEpoBAFSIWBCZgqA8cmGCEIGACSOQRCQhQJEQACMwEGW9ZJA6oCxAqMIQHMnEQzslEA4FHTASChAA5jRq1CDwxZpiIIgj6DWqDKFIRIYACzCgCocGNI0AEgEgQDRxO2lsL0SYAVIIyEAgCIDYBhIEQvUIEkgyCAXmUlrIJIoAdAhlECUBgUEBAIgkRBARdGXIMQEpYB/wsgGQJgGKOGqANCf8UIQAIAAACgACEAAgQFCAFAgAAIBQCAEASSAAAAAQEAIABgAEAAAAAAECAAAAAAAAAkCCCAAAAAQDgAAABwAABAEAEQAAAEABBAAARAAKoAAAAAAAIBgAAAAAQAAgEAACAAAQQYgAAgkgAECEEAAAAAAAAAoAABAABAADAAAAAAECCHAAAABhAABBAAAMIABACAAIRAAAAAAAIEAAFEAAAAAAAIASAAAhAAAAgAACAACEAAQEAAASAEAAAMAQBEgAAAAAAgEACAgAoQACAAIAQABAAAAkAAIAACQAABAABAAAAEAAAAAAIUCQAAQAACCAAQAIEAgAiAAAAgBAABQAUAAA=
